@model IEnumerable<ProductManagement.Models.Order>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Thời gian tạo</th>
            <th>Tên khách hàng</th>
            <th>Sản phẩm</th>        
            <th>Giá sản phẩm</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaDH</td>
                <td>@item.ThoiGianTao.ToString("dd/MM/yyyy | HH:mm")</td>
                <td>@item.TenKhachHang</td>
                <td>@item.Product.TenSP</td>
                <td>@item.Product.GiaCa.ToString("n0")</td>
@*                 <td><input asp-for="@item.SoLuongDH" id="@item.MaDH" /></td> *@
                <td>@item.SoLuongDH</td>
                <td>@item.ThanhTien.ToString("n0")</td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.MaDH">Edit</a> | <a asp-action="Delete" asp-route-id="@item.MaDH">Delete</a>
                </td>

            </tr>
        }

    </tbody>

</table>
    <a asp-action="Create">Add to List</a>
