@model PaginatedList<ProductManagement.Models.Products>
@{
    ViewData["Title"] = "PRODUCTS";
}

<h1>PRODUCTS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    

<form asp-action="Index" method="get">
    <div class="form-action no-color">
        <p>
            Tìm Kiếm Theo Tên: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> 
            <a asp-action="Index"> Full List</a> 
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TenSPSortParm"]">TÊN SẢN PHẨM</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["KichThuocSortParm"]">KÍCH THƯỚC</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ChatLieuSortParm"]">CHẤT LIỆU</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MauSacSortParm"]">MÀU SẮC</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["KieuDangSortParm"]">KIỂU DÁNG</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ThuongHieuSortParm"]">THƯƠNG HIỆU</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GiaCaSortParm"]">GIÁ CẢ</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SoLuongTongSortParm"]">TỔNG SỐ LƯỢNG</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KieuDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaCa)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.SoLuongTong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

